name: Pull Request

on: [ pull_request ]

jobs:
  concurrency:
    group: pull_request-nochain-${{ github.head_ref }}
    cancel-in-progress: true
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [8, 11]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}      
    - name: Build with Maven
      run: mvn -B clean install --file pom.xml