name: Quality sync checks

on:
  push:
    branches:
      - main
      - main-kogito

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}      
    - name: Build and quality sync checks from Maven profile
      run: mvn -B clean install -Psyncchecks --file pom.xml